venv_yolo/
venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

.env
safevision_ai_dump.sql
ai/models/weights/*.pt

static/captures/*
!static/captures/.gitkeep

*.pt